### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_pd = pd.read_csv(file_to_load)
df = pd.DataFrame(purchase_data_pd,columns=['Item Name','Age','Price','Gender'])
df.head()

                                   Item Name  Age  Price Gender
0  Extraction, Quickblade Of Trembling Hands   20   3.53   Male
1                          Frenzied Scimitar   40   1.56   Male
2                               Final Critic   24   4.88   Male
3                                Blindscythe   24   3.27   Male
4                                       Fury   23   1.44   Male

## Player Count

* Display the total number of players

## Purchasing Analysis (Total)

In [3]:
total_players = len(purchase_data_pd.index)

df1 = pd.DataFrame([total_players])
df1.index.name = 'Player Count'
df1

                0
Player Count
0             780

In [4]:
df = purchase_data_pd.loc[:,['Gender', 'SN', 'Age']]
df = df.drop_duplicates()
df
player_count = df.count()[0]
player_count
pd.DataFrame({'Total Players': [player_count]})

   Total Players
0            576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
count = purchase_data_pd["Price"].count()
average = purchase_data_pd["Price"].mean()
total_purchase_value = purchase_data_pd['Price'].sum()
item_counts = len(purchase_data_pd['Item ID'].unique())
df2 = pd.DataFrame({'Item Counts': item_counts,
                   'Revenue': [total_purchase_value],
                   'Number of Purchases': [count],
                   'Average Price': [average]})

df2 ['Average Price'] = df2 ['Average Price'].map("${:,.2f}".format)
df2 ['Revenue'] = df2 ['Revenue'].map("${:,.2f}".format)
df2

   Item Counts    Revenue  Number of Purchases Average Price
0          183  $2,379.77                  780         $3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
gender_count = df["Gender"].value_counts()
percent_player = gender_count / player_count * 100
gender_demographics = pd.DataFrame({'Total Count': gender_count,
                                   'Percent of Players': percent_player})
gender_demographics ['Percent of Players'] = gender_demographics ['Percent of Players'].map("%{:,.2f}".format)

gender_demographics

                       Total Count Percent of Players
Male                           484             %84.03
Female                          81             %14.06
Other / Non-Disclosed           11              %1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
gender_purchase = purchase_data_pd.groupby(['Gender']).sum()['Price']
gender_average = purchase_data_pd.groupby(['Gender']).mean()['Price']
gender_count = purchase_data_pd.groupby(['Gender']).count()['Price']
gender_totals = gender_purchase / gender_demographics["Total Count"]
gender_data = pd.DataFrame({'Total Count': gender_count,
                           'Average Purchase Price': gender_average,
                           'Total Purchase Value': gender_purchase,
                           'Normalized Total': gender_totals})
gender_data ['Average Purchase Price'] = gender_data ['Average Purchase Price'].map("${:,.2f}".format)
gender_data ['Normalized Total'] = gender_data ['Normalized Total'].map("${:,.2f}".format)
gender_data ['Total Purchase Value'] = gender_data ['Total Purchase Value'].map("${:,.2f}".format)
gender_data

,Total Count,Average Purchase Price,Total Purchase Value,Normalized Total
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
df = pd.DataFrame(purchase_data_pd,columns=['Age'])
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df["Age Ranges"] = pd.cut(df["Age"], age_bins, labels=group_names)
groups = df['Age Ranges'].value_counts()
group_percentage = groups / 8 
group_percentage
age_groups = pd.DataFrame({'Age Groups': group_names,
                          'Total Percentage': group_percentage})
age_groups ['Total Percentage'] = age_groups ['Total Percentage'].map("%{:,.2f}".format)
age_groups

      Age Groups Total Percentage
20-24        <10           %45.62
15-19      10-14           %17.00
25-29      15-19           %12.62
30-34      20-24            %9.12
35-39      25-29            %5.12
10-14      30-34            %3.50
<10        35-39            %2.88
40+          40+            %1.62

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
purchase_data_pd['Age Ranges'] = pd.cut(purchase_data_pd["Age"], age_bins, labels=group_names)
pmean = purchase_data_pd.groupby(['Age Ranges']).mean()['Price']
psum = purchase_data_pd.groupby(['Age Ranges']).sum()['Price']
pd.DataFrame({'Mean': pmean,
             'Total': psum})

                Mean    Total
Age Ranges
<10         3.353478    77.13
10-14       2.956429    82.78
15-19       3.035956   412.89
20-24       3.052219  1114.06
25-29       2.900990   293.00
30-34       2.931507   214.00
35-39       3.601707   147.67
40+         2.941538    38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [79]:
max = purchase_data_pd.groupby(['SN'])['Price'].sum()
big_spenders = pd.DataFrame({'Max Prices': max})
maxp = big_spenders.sort_values(by=['Max Prices'], ascending=False).head(4)
maxp

             Max Prices
SN
Lisosia93         18.96
Idastidru52       15.45
Chamjask73        13.83
Iral74            13.62

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [107]:
popular_id = pd.DataFrame(purchase_data_pd,columns=['Item ID'])
popular_items = pd.DataFrame(purchase_data_pd,columns=['Item Name'])
popular_price = pd.DataFrame(purchase_data_pd,columns=['Price'])
popular_purchased = pd.DataFrame({'Popular ID': [popular_id],
                                  'Popular Name': [popular_items],
                                  'Popular Price' : [popular_price]})
popular_purchased

,Popular ID,Popular Name,Popular Price
0,Item ID 0 108 1 143 2 ...,Item Name...,Price 0 3.53 1 1.56 2 4.88 3 ...

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame