### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_pd = pd.read_csv(file_to_load)
df = pd.DataFrame(purchase_data_pd,columns=['Item Name','Age','Price','Gender'])
df.head()

                                   Item Name  Age  Price Gender
0  Extraction, Quickblade Of Trembling Hands   20   3.53   Male
1                          Frenzied Scimitar   40   1.56   Male
2                               Final Critic   24   4.88   Male
3                                Blindscythe   24   3.27   Male
4                                       Fury   23   1.44   Male

## Player Count

* Display the total number of players

## Purchasing Analysis (Total)

In [2]:
total_players = len(purchase_data_pd.index)

df1 = pd.DataFrame([total_players])
df1.index.name = 'Player Count'
df1

                0
Player Count
0             780

In [3]:
df = purchase_data_pd.loc[:,['Gender', 'SN', 'Age']]
df = df.drop_duplicates()
df
player_count = df.count()[0]
player_count
pd.DataFrame({'Total Players': [player_count]})

   Total Players
0            576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
count = purchase_data_pd["Price"].count()
average = purchase_data_pd["Price"].mean()
total_purchase_value = purchase_data_pd['Price'].sum()
item_counts = len(purchase_data_pd['Item ID'].unique())
df2 = pd.DataFrame({'Item Counts': item_counts,
                   'Revenue': [total_purchase_value],
                   'Number of Purchases': [count],
                   'Average Price': [average]})

df2 ['Average Price'] = df2 ['Average Price'].map("${:,.2f}".format)
df2 ['Revenue'] = df2 ['Revenue'].map("${:,.2f}".format)
df2

   Item Counts    Revenue  Number of Purchases Average Price
0          183  $2,379.77                  780         $3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
gender_count = df["Gender"].value_counts()
percent_player = gender_count / player_count * 100
gender_demographics = pd.DataFrame({'Total Count': gender_count,
                                   'Percent of Players': percent_player})
gender_demographics ['Percent of Players'] = gender_demographics ['Percent of Players'].map("%{:,.2f}".format)

gender_demographics

                       Total Count Percent of Players
Male                           484             %84.03
Female                          81             %14.06
Other / Non-Disclosed           11              %1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_purchase = purchase_data_pd.groupby(['Gender']).sum()['Price']
gender_average = purchase_data_pd.groupby(['Gender']).mean()['Price']
gender_count = purchase_data_pd.groupby(['Gender']).count()['Price']
gender_totals = gender_purchase / gender_demographics["Total Count"]
gender_data = pd.DataFrame({'Total Count': gender_count,
                           'Average Purchase Price': gender_average,
                           'Total Purchase Value': gender_purchase,
                           'Normalized Total': gender_totals})
gender_data ['Average Purchase Price'] = gender_data ['Average Purchase Price'].map("${:,.2f}".format)
gender_data ['Normalized Total'] = gender_data ['Normalized Total'].map("${:,.2f}".format)
gender_data ['Total Purchase Value'] = gender_data ['Total Purchase Value'].map("${:,.2f}".format)
gender_data

,Total Count,Average Purchase Price,Total Purchase Value,Normalized Total
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
df = pd.DataFrame(purchase_data_pd,columns=['Age'])
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df["Age Ranges"] = pd.cut(df["Age"], age_bins, labels=group_names)
groups = df['Age Ranges'].value_counts()
groupstotal = groups.sum()
groupstotal

780

In [22]:
group_percentage = groups / groupstotal * 100
group_percentage
age_groups = pd.DataFrame({'Total Percentage': group_percentage})
age_groups ['Total Percentage'] = age_groups ['Total Percentage'].map("%{:,.2f}".format)
age_groups

      Total Percentage
20-24           %46.79
15-19           %17.44
25-29           %12.95
30-34            %9.36
35-39            %5.26
10-14            %3.59
<10              %2.95
40+              %1.67

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
age_count = purchase_data_pd.groupby(['Age'])['Price'].mean()

df4 = pd.DataFrame({'Age Groups': age_groups,
                    'Average Spent Per Age': age_count})
df4

ValueError: Shape of passed values is (2, 2), indices imply (39, 2)

In [ ]:
#df = pd.DataFrame(purchase_data_pd,columns=['Age'])
#df["Age Bins"] = pd.cut(df["Age"], age_bins, labels=group_names)
#purchase_age = purchase_data_pd.groupby(df['Age Bins']).sum()['Price']
#purchaseage_df = pd.DataFrame({'Purchases': purchase_age,
#                              'Purchase Price': gender_totals,
#                              'Average Purchase Price': gender_avereage})
#purchaseage_df = purchaseage_df['Purchases'].map("${:,.2f}".format)
#purchaseage_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
purchaseage_df

In [ ]:
sorted_purchase_df = purchaseage_df.sort_index(axis='Price')
sorted_purchase_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
popular_id = pd.DataFrame(purchase_data_pd,columns=['Item ID'])
popular_items = pd.DataFrame(purchase_data_pd,columns=['Item Name'])
popular_price = pd.DataFrame(purchase_data_pd,columns=['Price'])
popular_purchased = pd.DataFrame({'Popular ID': [popular_id],
                                  'Popular Name': [popular_items],
                                  'Popular Price' : [popular_price]})
popular_purchased

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame